<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/angular@1.2.28/angular.min.js"></script>
</head>

<body>
  <div ng-app="myApp">
    <div ng-controller="MyController">
      <input type="email" ng-model="to" placeholder="Recipient">
      <textarea ng-model="emailBody"></textarea>
      <pre>{{previewText}}</pre>
    </div>
  </div>
  <script>
    var app = angular.module('myApp', {}, function () { console.log('started'); });
    app.controller('MyController', function ($scope, $interpolate) {
      // 设置监听emailBody
      $scope.$watch('emailBody', function (body) {
        var template = $interpolate(body);
        $scope.previewText = template({
          to: $scope.to
        })
      })
    })
  </script>
</body>

</html>